.minus, .plus{
    border: none;
    color: var(--gray-dark);
    background-color: transparent;
}

.minus:hover, .plus:hover{
    color: var(--gray-darker);
}

.qty{
    width: 3rem;
    padding: 4px;
    border: none;
    background-color: var(--gray-lighter);
}

.price-details-container{
    width: 25rem;
    height: 20rem;
}

.coupon-input{
    border: none;
    border-bottom: 1px solid gray;
}