ul{
    margin: 0;
}
.nav-header{
    border-radius: 0;
}

.brand-logo{
    width: 7rem;
    border: none;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links .nav-icons:hover{
    color: var(--primary-dark);
    cursor: pointer;
}

.btn{
    cursor: pointer;
}

.input{
    width: 20rem;
}

.topbar-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.main-img{
    width: 100%;
    max-height: 400px;
}

.main-img-text{
    position: absolute;
    color: var(--text-white);
    top: 20%;
    left: 5%;
    color: var(--primary-dark);
}
