.footer-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-dark);
}

.footer-section{
    display: flex;
    flex-direction: column;
    color: var(--text-white);
}

.footer-section .h6{
    color: var(--primary-light);
}