/* reset */
ul{
    margin: 0;
}

/* positioning */
.pos-rel{
    position: relative;
}

/* Links */
.btn .link:hover{
    border: none;
}
.link-white{
    color: var(--text-white);
    border: 1px solid transparent;
}

/* flex */
.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-content-space-bet{
    justify-content: space-between;
}

.justify-content-start{
    justify-content: flex-start;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-wrap{
    flex-wrap: wrap ;
}

.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}

/* Grid */
.grid{
    display: grid;
}

.grid-col-2{
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3{
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-4{
    grid-template-columns: repeat(4, 1fr);
}

/* text-styling */
.bg-primary{
    background-color: var(--primary-light);
}

.text-white{
    color: var(--text-white);
}

.text-dark{
    color: var(--primary-dark);
}

.text-gray{
    color: var(--gray-dark);
}

.text-danger{
    color: var(--danger);
}

.text-success{
    color: var(--success);
}

.text-right{
    text-align: right;
}

/* Buttons */
.btn:disabled{
    background-color: var(--gray-light);
    color: var(--gray-dark);
    border: 1px solid transparent;
}
.btn:disabled:hover{
    box-shadow: none;
    background-color: var(--gray-light);
    cursor: default;
}

/* Other */
.hr-100{
    width: 100%;
}

.hr-75{
    width: 75%;
}
.hr-50{
    width: 50%;
}

.hr-25{
    width: 25%;
}

